<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2orPREaudg6E2tti5JgBC3b_r0SZpAD8</string>
	<key>GCM_SENDER_ID</key>
	<string>926172492269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashAngebote</string>
	<key>PROJECT_ID</key>
	<string>flyer-angebote</string>
	<key>STORAGE_BUCKET</key>
	<string>flyer-angebote.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926172492269:ios:445a70898aa96c53cdb7e4</string>
</dict>
</plist>